body{
  font-family: "Alice", serif;
  background-image: url(archives/bg-image.png) ;
  background-color: #573824;
  background-size: cover;

  width: 1280;
  height: 1588px;
}
h1{
  font-size: 40px;
  line-height: 140%;
}
p{
  line-height: 150%;
}
h1,h2{
 color:#291B1A ;
}
p, ul{
 color: #573A37;
}
img {
  border-radius: 16px;
  
  padding: 24px;
 
}
#container{
  border-radius: 24px;
  background-color:#F0E8C2;
  box-sizing: border-box;

  width: 800px;
  margin: 48px auto 100px ;
}
main{
  padding: 24px 48px 48px 48px;
}